<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kevin·Home</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/admin/admin.css" />
    <link rel="stylesheet" href="/css/tool.css" />
</head>

<body class="main-body" data-res="<%= token%>" }>

    <header>
        <nav class="navbar layout-wrap container">
            <h2 class="text-default">KevinHome</h2>
        </nav>
    </header>

    <main class="layout-wrap container clearfix">
        <!-- aside -->
        <div class="aside nav nav-sidebar col-md-2 col-xs-12">
            <section class="nav navbar navbar-default c-mb menu-section">
                <aside>
                    <ul class="menu_list">
                        <li data-menu="Blog" class="active">博文管理</li>
                        <li data-menu="addBlog">发布博文</li>
                        <li data-menu="adminControl">用户管理</li>
                    </ul>
                </aside>
            </section>
        </div>

        <div></div>

        <div class="r-aside col-md-10 col-xs-12">
            <section data-menu="Blog" class="panel panel-default rightBox show">
                <section class="panel panel-default">
                    <div class="panel-heading" role="alert">
                        <span class="panel-title">已·发布博文管理</span>
                    </div>
                </section>
                <section class="panel-body">
                    <div class="contro-box clearfix form-group">
                        <section class="s-area col-md-3 form-group">
                            <input class="form-control" type="search" placeholder="博文标题" aria-label="Search" />
                        </section>
                        <section class="s-area col-md-3 form-group">
                            <input class="form-control" type="search" placeholder="博文分类" aria-label="Search" />
                        </section>
                        <section class="s-area col-md-3 form-group">
                            <button class="btn btn-primary btn-block">查找</button>
                        </section>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">序号</th>
                                <th scope="col">博文标题</th>
                                <th scope="col">作者</th>
                                <th scope="col">博文时间</th>
                                <th scope="col">博文分类</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyBlog"></tbody>
                    </table>
                </section>
                <section class="panel-footer txt-center">
                    <ul class="pagination pagination-sm c-mb pageParent">
                        <!-- 页码区域 动态生成 -->
                    </ul>
                </section>
            </section>
            <section class="Edit hide" data-menu="addBlog">
                <div class="edit">
                    <div class="edit-panel edit-default">
                        <div class="blog-cat">
                            <section class="edit-title">文章标题：</section>
                            <input class="ui-input ui-input-default ajax_clear" type="text" id="blog_title" />
                        </div>
                        <div class="blog-cat">
                            <section class="edit-title">作者：</section>
                            <input class="ui-input ui-input-default ajax_clear" type="text" id="blog_autor" />
                        </div>
                        <div class="blog-cat">
                            <section class="edit-title">分类：</section>
                            <input class="ui-input ui-input-default ajax_clear" type="text" id="blog_catgory" />
                        </div>
                    </div>
                    <div class="edit-panel edit-default">
                        <section class="edit-title">文章编辑区域：</section>
                        <div id="editor" class="ajax_clear"></div>
                    </div>
                    <div class="edit-panel edit-default">
                        <section class="edit-title">预览源码：</section>
                        <textarea id="text" class="ajax_clear" style="width: 100%; height: 200px;" disabled></textarea>
                    </div>
                </div>
                <div class="edit-pannel">
                    <button id="commit_content" class="ui-btn ui-btn-block">
                        提交文章
                    </button>
                </div>
            </section>
            <section class="Edit hide" data-menu="adminControl">
                <p>用户管理</p>
            </section>
        </div>
    </main>

    <footer>
        <div class="container mt-30">
            <p class="txt-center text-info">
                KevinHome·Admin
            </p>
        </div>
    </footer>
</body>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<!--  弹窗模块 -->
<script src="/js/admin/toast.js"></script>
<!-- admin main -->
<script src="/js/admin/admin.js"></script>
<script src="/js/admin/edit.js"></script>

<script>
    function PublicMethod() {}
    PublicMethod.prototype.domRender = function(e, t, c) {
        var bool = e.append(t);
        if (bool) {
            callback(bool);
        }
        return "";
    };

    function BlogApi() {
        this.path = "http://118.31.4.145:3000/api/limitBlog";
    }
    BlogApi.prototype = new PublicMethod();
    BlogApi.prototype.constructor = BlogApi;
    BlogApi.prototype.get = function(n) {
        var configParams = {
            start: n,
        };
        $.ajax({
            method: "get",
            data: configParams,
            url: basePath,
            async: true,
            success: function(data) {
                this.render(data.data);
            },
            error: function(err) {
                if (err.responseJSON.code) {
                    alert("木得数据🙃");
                }
            },
        });
    };
    BlogApi.prototype.render = function(data, callback) {
        var length = data.length;
        for (let i = 0; i < length; i++) {
            var d = data[i];
            var t = tdTemplateBy(d);
            this.domRender($("#tbodyBlog"), t);
        }
    };
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/remarkable/2.0.1/remarkable.js"></script>
<script>
    var md = new Remarkable()
    log(md)
</script>

</html>